.body {
  background-color: var(--area-inativa);
  width: 100%;
  height: fit-content;

  box-sizing: border-box;
  overflow: hidden;

  .opcoes {
    position: sticky; /* Fixando a parte de cima */
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 1rem 4rem;

    .titulo {
      p {
        font-size: 32px;
      }
    }

    .buscar {
      p {
        font-size: 19px;
      }

      input {
        border: 1px solid var(--dark-snow);
        border-radius: 4px;
        width: 100%;
        max-width: 295px;
        height: 32px;
        padding: 2px;
        margin-top: 4px;
      }
    }
  }

  .table-container {
    width: 96vw;
    height: 80vh;
    overflow-x: auto;
    padding: 0 4rem;

    table {
      width: 95.5%;
      border-collapse: separate;
      border-spacing: 0 10px;

      th, td {
        padding: 0.5rem;
        text-align: left;
      }

      th {
        cursor: pointer;
        position: sticky;
        font-size: 16px;
        top: 0;
        background-color: var(--area-inativa);
        z-index: 50;
      }

      td {
        background-color: var(--branco);
        box-shadow: 2px 2px 4px var(--dark-snow);
        margin: 5px 0;
        height: 88px;
        border-radius: 4px;
        .personagem {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 16px;
          font-family: PT Sans, Bold;
          color: var(--dark-smoke);
        }
        .series, .eventos{
          max-height: 88px;
          overflow-y: auto;
          font-size: 14px;
          font-family: PT Sans, Regular;
        }
        .imagem {
          width: 48px;
          height: 48px;
          transition: transform 0.3s ease;
        }

        .imagem:hover {
          transform: scale(2.5);
        }
        p {
          font-size: 16px;
          margin-left: 1rem;
        }
      }
    }
  }

  .pagination-bar {
    position: sticky;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    font-size: 14px;
  }

  .pagination-options {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    select {
      font-size: 16px;
    }
  }

  .pagination-info {
    display: flex;
    align-items: center;
  }

  .navigation-buttons {
    margin-left: 1rem;
    button {
      margin: 0 0.5rem;
      font-size: 16px;
      padding: 2px 3px;
    }
  }
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa toda a altura da tela */
}

.loading-spinner p {
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .eventos {
    display: none;
  }
}

@media (max-width: 768px) {
  .series, .eventos {
    display: none;
  }
}
