<div class="body">
  <div class="opcoes">
    <div class="titulo">
      <p>Busca de personagens</p>
    </div>
    <div class="buscar">
      <p>Nome do personagem</p>
      <input [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search"/>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading-spinner">
    <p>Processando, por favor aguarde... {{ loadProgress }}% carregado</p>
  </div>

  <div *ngIf="!isLoading">
    <div class="table-container" *ngIf="characters.length > 0">
      <table>
        <thead>
          <tr>
            <th (click)="sortTable('name')">
              Personagem
              <span *ngIf="sortColumn === 'name'">
                <span *ngIf="sortDirection === 'asc'">▼</span>
                <span *ngIf="sortDirection === 'desc'">▲</span>
              </span>
            </th>
            <th class="series">Series</th>
            <th class="eventos">Eventos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of filteredCharacters">
            <td>
              <div class="personagem">
                <img class="imagem" [src]="character.thumbnail.path + '.' + character.thumbnail.extension"
                alt="{{ character.name }}"/>
                <p>{{ character.name }}</p>
              </div>
            </td>
            <td>
              <div class="series">
                <p *ngFor="let serie of character.series.items">{{serie.name}}</p>
              </div>
            </td>
            <td>
              <div class="eventos">
                <p *ngFor="let evento of character.events.items">{{evento.name}}</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="characters.length === 0">
      <p>Nenhum personagem encontrado.</p>
    </div>
  </div>


  <div class="pagination-bar">
    <div class="pagination-options">
      <label for="itemsPerPage">Registros:</label>
      <select id="itemsPerPage" (change)="changeItemsPerPage($event)" [(ngModel)]="itemsPerPage">
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <div class="pagination-info">
      {{ currentPage + 1 }} / {{ totalPages }}
    </div>

    <div class="pagination-buttons">
      <!-- Botão Primeira Página -->
      <button (click)="goToPage(0)" [disabled]="currentPage === 0">Primeira</button>

      <!-- Geração dos Botões das Páginas -->
      <button *ngFor="let page of getPageRange()" (click)="goToPage(page)"
              [class.active]="currentPage === page">{{ page + 1 }}</button>

      <!-- Botão Última Página -->
      <button (click)="goToPage(totalPages - 1)" [disabled]="currentPage === totalPages - 1">Última</button>
    </div>

  </div>
</div>

