/* You can add global styles to this file, and also import other style files */
:root {
  --branco: #ffffff;
  --borda-clara: ##E5E5E5;
  --texto-opcao: #8E8E8E;
  --teste-descricao: #555555;
  --borda-selecionada: #167ABC;
  --area-inativa: #F5F5F5;
  --dark-smoke: #00000033;
}

*
{
  padding: 0;
  margin: 0;
}
